@font-face {
  font-family: "Dovemayo_wild";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Dovemayo_wild";
  /* background-color: black;
  color: white; */
}

header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}

.search {
  text-align: center;
  margin-bottom: 30px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  width: 450px;
  height: 1000px;
  margin-top: 20px;
  border-style: solid;
  border-color: white;
}
